certifi==2023.5.7
charset-normalizer==3.1.0
colorama==0.4.6
et-xmlfile==1.1.0
exrex==0.11.0
idna==3.4
numpy==1.24.3
openpyxl==3.0.10
pandas==2.0.2
pyfiglet==0.8.post1
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
requests==2.31.0
requests-futures==1.0.0
sherlock==0.4.1
six==1.16.0
stem==1.8.1
torrequest==0.1.0
tzdata==2023.3
urllib3==2.0.2
